<!DOCTYPE html>
<form action="/output" method="post">
  <label for="ceiling-number">Enter the number you would like to go to: </label>
  <input id="ceiling-number" type="number" name="ceiling-number">
  <button type="submit" name="button">See my ping pong number list</button>
</form>
